@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.App {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-top: 20rem;
  background-color: black;
  color: whitesmoke;
  font-size: 2rem;
}
